In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn import metrics

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
organizations = pd.read_csv('/content/drive/MyDrive/raw/organizations.csv')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (28) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
organizations

,uuid,name,type,permalink,cb_url,rank,created_at,updated_at,legal_name,roles,...,phone,facebook_url,linkedin_url,twitter_url,logo_url,alias1,alias2,alias3,primary_role,num_exits
0,e1393508-30ea-8a36-3f96-dd3226033abd,Wetpaint,organization,wetpaint,https://www.crunchbase.com/organization/wetpaint,163911.0,2007-05-25 13:51:27,2021-07-22 04:02:55,NaN,company,...,206-859-6300,https://www.facebook.com/Wetpaint,NaN,https://twitter.com/wetpainttv,https://res.cloudinary.com/crunchbase-producti...,NaN,NaN,NaN,company,NaN
1,bf4d7b0e-b34d-2fd8-d292-6049c4f7efc7,Zoho,organization,zoho,https://www.crunchbase.com/organization/zoho,6659.0,2007-05-26 02:30:28,2018-10-27 00:29:49,NaN,"investor,company",...,NaN,http://www.facebook.com/zoho,http://www.linkedin.com/company/zoho-corporati...,http://twitter.com/zoho,https://res.cloudinary.com/crunchbase-producti...,NaN,NaN,NaN,company,1.0
2,5f2b40b8-d1b3-d323-d81a-b7a8e89553d0,Digg,organization,digg,https://www.crunchbase.com/organization/digg,20919.0,2007-05-26 03:03:23,2018-12-10 10:09:14,"Digg Holdings, LLC",company,...,877-342-7222,http://www.facebook.com/digg,http://www.linkedin.com/company/digg,http://twitter.com/digg,https://res.cloudinary.com/crunchbase-producti...,NaN,NaN,NaN,company,NaN
3,f4d5ab44-058b-298b-ea81-380e6e9a8eec,Omidyar Network,organization,omidyar-network,https://www.crunchbase.com/organization/omidya...,126087.0,2007-05-26 03:21:34,2019-06-19 12:17:48,NaN,investor,...,650.482.2500,http://www.facebook.com/OmidyarNetwork,http://www.linkedin.com/company/22806,http://twitter.com/OmidyarNetwork,https://res.cloudinary.com/crunchbase-producti...,NaN,NaN,NaN,investor,45.0
4,df662812-7f97-0b43-9d3e-12f64f504fbb,Meta,organization,facebook,https://www.crunchbase.com/organization/facebook,71.0,2007-05-26 04:22:15,2021-12-14 04:55:19,"Meta Platforms, Inc.","investor,company",...,NaN,https://www.facebook.com/Meta,https://www.linkedin.com/company/meta/,https://twitter.com/Meta,https://res.cloudinary.com/crunchbase-producti...,Facebook,"Facebook, Inc.",NaN,company,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1803151,a2e96ae3-9365-4ca9-aeaa-d2a3b55543b5,Estamp,organization,estamp,https://www.crunchbase.com/organization/estamp,NaN,2022-02-01 23:39:07,2022-02-01 23:39:07,"Wuxi Estamp Automotive Components Co., Ltd.",company,...,+34-937-363-131,NaN,https://www.linkedin.com/company/estamp-int,NaN,https://res.cloudinary.com/crunchbase-producti...,NaN,NaN,NaN,company,NaN
1803152,c9b5bc2d-24d7-47ac-a983-c0c454ab9ece,Prestige Physiotherapy and Sports Medicine Abb...,organization,prestige-physiotherapy-and-sports-medicine-abb...,https://www.crunchbase.com/organization/presti...,NaN,2022-02-01 23:54:06,2022-02-01 23:54:06,NaN,company,...,778 369 0303,https://www.facebook.com/prestigephysioabbotsford,NaN,NaN,https://res.cloudinary.com/crunchbase-producti...,NaN,NaN,NaN,company,NaN
1803153,94781c99-a9ed-4a87-96ed-fbc1386466a2,Kid Account,organization,kid-account,https://www.crunchbase.com/organization/kid-ac...,NaN,2022-02-01 23:55:02,2022-02-01 23:55:02,"Kid Account, LLC",company,...,+1-800-578-1448,https://www.facebook.com/KIDaccount,NaN,NaN,https://res.cloudinary.com/crunchbase-producti...,Midcom Technologies,NaN,NaN,company,NaN
1803154,6a6de6ac-2909-416c-bfea-74830b701ccd,Delkos,organization,delkos,https://www.crunchbase.com/organization/delkos,NaN,2022-02-02 00:00:54,2022-02-02 00:00:54,Delkos Limited,company,...,NaN,NaN,https://www.linkedin.com/company/delkos,NaN,https://res.cloudinary.com/crunchbase-producti...,Delkos Research,NaN,NaN,company,NaN
1803155,f9159277-4c14-4098-bb8f-afff083c1bfa,Paperless innovations,organization,paperless-innovations,https://www.crunchbase.com/organization/paperl...,NaN,2022-02-02 00:02:18,2022-02-02 00:02:18,"Paperless Innovations, Inc",company,...,+1 888 522 6255,NaN,https://www.linkedin.com/company/paperless-inn...,NaN,https://res.cloudinary.com/crunchbase-producti...,NaN,NaN,NaN,company,NaN

In [ ]:
funding_rounds = pd.read_csv('/content/drive/MyDrive/raw/funding_rounds.csv')

In [ ]:
funding_rounds.head(5)

,uuid,name,type,permalink,cb_url,rank,created_at,updated_at,country_code,state_code,...,raised_amount_usd,raised_amount,raised_amount_currency_code,post_money_valuation_usd,post_money_valuation,post_money_valuation_currency_code,investor_count,org_uuid,org_name,lead_investor_uuids
0,8a945939-18e0-cc9d-27b9-bf33817b2818,Angel Round - Meta,funding_round,facebook-angel--8a945939,https://www.crunchbase.com/funding_round/faceb...,296911.0,2007-05-27 06:08:18,2018-02-12 23:05:39,USA,CA,...,500000.0,500000.0,USD,NaN,NaN,NaN,4.0,df662812-7f97-0b43-9d3e-12f64f504fbb,Meta,3f47be49-2e32-8118-01a0-31685a4d0fd7
1,d950d7a5-79ff-fb93-ca87-13386b0e2feb,Series A - Meta,funding_round,facebook-series-a--d950d7a5,https://www.crunchbase.com/funding_round/faceb...,321155.0,2007-05-27 06:09:10,2018-02-12 23:52:16,USA,CA,...,12700000.0,12700000.0,USD,98000000.0,98000000.0,USD,4.0,df662812-7f97-0b43-9d3e-12f64f504fbb,Meta,b08efc27-da40-505a-6f9d-c9e14247bf36
2,6fae3958-a001-27c0-fb7e-666266aedd78,Series B - Meta,funding_round,facebook-series-b--6fae3958,https://www.crunchbase.com/funding_round/faceb...,225516.0,2007-05-27 06:09:36,2018-02-12 23:30:46,USA,CA,...,27500000.0,27500000.0,USD,502500000.0,502500000.0,USD,5.0,df662812-7f97-0b43-9d3e-12f64f504fbb,Meta,"e2006571-6b7a-e477-002a-f7014f48a7e3,8d5c7e48-..."
3,bcd5a63d-ed99-6963-0dd2-e36f6582f846,Series B - Photobucket,funding_round,photobucket-series-b--bcd5a63d,https://www.crunchbase.com/funding_round/photo...,120958.0,2007-05-29 11:05:59,2018-02-12 23:27:36,USA,CO,...,10500000.0,10500000.0,USD,NaN,NaN,NaN,2.0,f53cb4de-236e-0b1b-dee8-7104a8b018f9,Photobucket,NaN
4,60e6afd9-1215-465a-dd17-0ed600d4e29b,Series A - Geni,funding_round,geni-series-a--60e6afd9,https://www.crunchbase.com/funding_round/geni-...,365088.0,2007-05-31 20:19:28,2018-02-12 23:41:29,USA,CA,...,NaN,NaN,NaN,10000000.0,10000000.0,USD,1.0,4111dc8b-c0df-2d24-ed33-30cd137b3098,Geni,fb2f8884-ec07-895a-48d7-d9a9d4d7175c

In [ ]:
#from funding rounds select companies that had B-rounds
#some companies have multiple B-rounds, let's keep only the earliest one
b_rounds = funding_rounds[funding_rounds.investment_type=='series_b'].sort_values(by=['org_name','announced_on'])
b_rounds = b_rounds[~b_rounds.duplicated('org_name',keep='first')]

In [ ]:
#retaing relevant columns in b_rounds
b_rounds = b_rounds[['uuid','org_uuid','lead_investor_uuids','raised_amount_usd', 'announced_on']]

In [ ]:
#renaming some columns in b_rounds
b_rounds = b_rounds.rename(columns = {'uuid':'round_uuid','org_uuid':'uuid','raised_amount_usd':'b_round_raised_amount_usd','announced_on':'b_round_announced_on'})

In [ ]:
#join v1 and b_rounds to get v2
v2 = pd.merge(organizations,b_rounds, how='left', on='uuid')

In [ ]:
ipos = pd.read_csv('/content/drive/MyDrive/raw/ipos.csv')

In [ ]:
ipos.head(5)

,uuid,name,type,permalink,cb_url,rank,created_at,updated_at,org_uuid,org_name,...,went_public_on,share_price_usd,share_price,share_price_currency_code,valuation_price_usd,valuation_price,valuation_price_currency_code,money_raised_usd,money_raised,money_raised_currency_code
0,72d30ebd-53ef-2486-6c29-22785c5173ce,NaN,ipo,microsoft-ipo--72d30ebd,https://www.crunchbase.com/ipo/microsoft-ipo--...,10697.0,2008-02-09 05:25:18,2018-02-12 23:11:05,fd80725f-53fc-7009-9878-aeecf1e9ffbb,Microsoft,...,1986-03-13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,3ad2b068-2d97-f646-0b80-1e5f3d7adfc4,NaN,ipo,the-walt-disney-company-ipo--3ad2b068,https://www.crunchbase.com/ipo/the-walt-disney...,18023.0,2008-02-09 05:40:32,2019-02-25 22:31:49,756936c0-c335-f0ae-0a3d-fe26bdff5695,The Walt Disney Company,...,1978-01-13,NaN,NaN,NaN,NaN,NaN,NaN,300000000.0,300000000.0,USD
2,a265c6f6-4b96-4079-096a-967a37f3da2b,NaN,ipo,divx-ipo--a265c6f6,https://www.crunchbase.com/ipo/divx-ipo--a265c6f6,47207.0,2008-02-25 23:52:11,2018-02-12 23:57:54,73296f0d-85a5-78d5-90b3-86c5f8981ba9,DivX,...,2006-10-22,16.0,16.0,USD,1.600000e+08,1.600000e+08,USD,145000000.0,145000000.0,USD
3,ee426509-826e-5dd0-9309-e79c8f384904,NaN,ipo,xo-group-ipo--ee426509,https://www.crunchbase.com/ipo/xo-group-ipo--e...,14279.0,2008-02-29 00:31:34,2018-02-12 23:41:42,ff8439cf-097c-a88a-9bb9-dd83d23aa14b,XO Group,...,1999-12-02,NaN,NaN,NaN,NaN,NaN,NaN,35000000.0,35000000.0,USD
4,66b57372-77f0-ec5f-ca33-0175fff79b0e,NaN,ipo,bmc-software-ipo--66b57372,https://www.crunchbase.com/ipo/bmc-software-ip...,17028.0,2008-03-18 14:07:10,2020-12-09 11:02:40,ab8e5ba4-df5d-121b-93b6-eae7a0c89245,BMC Software,...,1988-08-12,NaN,NaN,NaN,6.000000e+09,6.000000e+09,USD,NaN,NaN,NaN

In [ ]:
#some companies have multiple ipos
#let's keep only the earliest one
ipos = ipos.sort_values(by=['org_uuid','went_public_on'])
ipos = ipos[~ipos.duplicated('org_uuid',keep='first')]

In [ ]:
#retaining relevant columns in ipos
ipos = ipos[['org_uuid','went_public_on','money_raised_usd']]

In [ ]:
#renaming some columns in ipos
ipos = ipos.rename(columns = {'org_uuid':'uuid','money_raised_usd':'ipo_money_raised_usd'})

In [ ]:
#join v2 and ipos to get v3
v3 = pd.merge(v2,ipos, how='left', on='uuid')

In [ ]:
acquisitions = pd.read_csv('/content/drive/MyDrive/raw/acquisitions.csv')

In [ ]:
acquisitions.head(5)

,uuid,name,type,permalink,cb_url,rank,created_at,updated_at,acquiree_uuid,acquiree_name,...,acquirer_cb_url,acquirer_country_code,acquirer_state_code,acquirer_region,acquirer_city,acquisition_type,acquired_on,price_usd,price,price_currency_code
0,c62807f2-3487-f63b-e7fc-559b752ed44c,Flektor acquired by Fox Interactive Media,acquisition,fox-interactive-media-acquires-flektor--c62807f2,https://www.crunchbase.com/acquisition/fox-int...,124965.0,2007-05-31 22:19:54,2018-02-13 00:09:05,180ebf67-68d0-2316-e93d-8e1e546330ba,Flektor,...,https://www.crunchbase.com/organization/fox-in...,USA,CA,California,Beverly Hills,NaN,2007-05-30,NaN,NaN,NaN
1,419cabe1-4d71-5f64-3e9b-c9d0fb445cca,GrandCentral acquired by Google,acquisition,google-acquires-grandcentral--419cabe1,https://www.crunchbase.com/acquisition/google-...,37684.0,2007-07-03 08:14:50,2018-02-12 22:14:26,5b05e013-a448-3a0b-d872-a6ae668e1192,GrandCentral,...,https://www.crunchbase.com/organization/google,USA,CA,California,Mountain View,NaN,2007-07-01,60000000.0,60000000.0,USD
2,01bd2058-ccf8-6102-f253-9224a67a592b,Last.fm acquired by CBS Entertainment,acquisition,cbs-acquires-last-fm--01bd2058,https://www.crunchbase.com/acquisition/cbs-acq...,116515.0,2007-07-12 04:19:24,2018-02-12 23:41:20,8249dffa-1ca6-6f99-9f76-d56c83f85f2d,Last.fm,...,https://www.crunchbase.com/organization/cbs,USA,NY,New York,New York,NaN,2007-05-01,280000000.0,280000000.0,USD
3,831becd6-e913-b9f5-ac09-2bff915f9453,Kosiso - store acquired by Google,acquisition,google-acquires-feedburner--831becd6,https://www.crunchbase.com/acquisition/google-...,51614.0,2007-07-13 09:52:59,2018-02-12 23:43:38,10dd03fa-69ff-3a82-6321-c6b16c9a9f41,Kosiso - store,...,https://www.crunchbase.com/organization/google,USA,CA,California,Mountain View,acquisition,2007-05-23,100000000.0,100000000.0,USD
4,9da90ee7-aad7-e0b4-8456-839363032e5e,Recipezaar acquired by Scripps Networks,acquisition,scripps-networks-interactive-acquires-recipeza...,https://www.crunchbase.com/acquisition/scripps...,69249.0,2007-07-20 05:29:07,2018-02-12 23:51:07,0af10345-613d-e144-f8bd-b62e288985a0,Recipezaar,...,https://www.crunchbase.com/organization/scripp...,USA,TN,Tennessee,Knoxville,NaN,2007-07-01,NaN,NaN,NaN

In [ ]:
#some companies have been acquired more than once
#keep data only about the first acquisition
acquisitions = acquisitions.sort_values(by=['acquiree_uuid','acquired_on'])
acquisitions = acquisitions[~acquisitions.duplicated('acquiree_uuid',keep='first')]

In [ ]:
#retaining relevant columns in aacquisitions
acquisitions = acquisitions[['acquiree_uuid','acquired_on']]

In [ ]:
#renaming some columns
acquisitions = acquisitions.rename(columns = {'acquiree_uuid':'uuid'})

In [ ]:
#joining v3 and acquisitions to get v4
v4 = pd.merge(v3,acquisitions, how='left', on='uuid')

In [ ]:
v4.shape

(1803156, 48)

In [ ]:
#v4.to_csv('/content/drive/My Drive/v4.csv', index=False)

In [ ]:
#current dataset features
pd.Series(v4.columns.to_numpy())

0                            uuid
1                            name
2                            type
3                       permalink
4                          cb_url
5                            rank
6                      created_at
7                      updated_at
8                      legal_name
9                           roles
10                         domain
11                   homepage_url
12                   country_code
13                     state_code
14                         region
15                           city
16                        address
17                    postal_code
18                         status
19              short_description
20                  category_list
21           category_groups_list
22             num_funding_rounds
23              total_funding_usd
24                  total_funding
25    total_funding_currency_code
26                     founded_on
27                last_funding_on
28                      closed_on
29                 employee_count
30                          email
31                          phone
32                   facebook_url
33                   linkedin_url
34                    twitter_url
35                       logo_url
36                         alias1
37                         alias2
38                         alias3
39                   primary_role
40                      num_exits
41                     round_uuid
42            lead_investor_uuids
43      b_round_raised_amount_usd
44           b_round_announced_on
45                 went_public_on
46           ipo_money_raised_usd
47                    acquired_on
dtype: object

In [ ]:
v4 = v4.dropna(subset = ['category_groups_list'])

In [ ]:
v4.shape

(1687898, 48)

In [ ]:
category = {}
for i in v4.category_groups_list:
    for j in i.split(','):
      if j not in category:
        category[j] = 1
      else:
        category[j] += 1

In [ ]:
#уникальные категории
category

{'Administrative Services': 63774,
 'Advertising': 105166,
 'Agriculture and Farming': 17413,
 'Apps': 67289,
 'Artificial Intelligence': 29513,
 'Biotechnology': 32922,
 'Clothing and Apparel': 32459,
 'Commerce and Shopping': 184690,
 'Community and Lifestyle': 77271,
 'Consumer Electronics': 71620,
 'Consumer Goods': 52553,
 'Content and Publishing': 67160,
 'Data and Analytics': 85090,
 'Design': 128320,
 'Education': 92846,
 'Energy': 45398,
 'Events': 24658,
 'Financial Services': 230916,
 'Food and Beverage': 60160,
 'Gaming': 21123,
 'Government and Military': 21065,
 'Hardware': 158665,
 'Health Care': 165661,
 'Information Technology': 295261,
 'Internet Services': 217293,
 'Lending and Investments': 59959,
 'Manufacturing': 164872,
 'Media and Entertainment': 194262,
 'Messaging and Telecommunications': 16201,
 'Mobile': 78230,
 'Music and Audio': 20822,
 'Natural Resources': 32990,
 'Navigation and Mapping': 7833,
 'Other': 222916,
 'Payments': 24081,
 'Platforms': 17318,
 'Privacy and Security': 43316,
 'Professional Services': 252507,
 'Real Estate': 135004,
 'Sales and Marketing': 207797,
 'Science and Engineering': 124062,
 'Software': 409768,
 'Sports': 37545,
 'Sustainability': 37090,
 'Transportation': 87018,
 'Travel and Tourism': 40096,
 'Video': 34196}

In [ ]:
pd.Series(category.keys())

0               Content and Publishing
1                    Internet Services
2              Media and Entertainment
3                  Sales and Marketing
4              Administrative Services
5               Information Technology
6                                Other
7                 Privacy and Security
8                             Software
9                   Financial Services
10             Lending and Investments
11                            Hardware
12               Commerce and Shopping
13             Community and Lifestyle
14                              Mobile
15                               Video
16                         Advertising
17    Messaging and Telecommunications
18                     Music and Audio
19                  Data and Analytics
20                              Design
21             Science and Engineering
22                              Sports
23              Navigation and Mapping
24                       Biotechnology
25               Professional Services
26                              Energy
27                           Education
28                         Health Care
29             Artificial Intelligence
30                              Gaming
31                            Payments
32                           Platforms
33                                Apps
34                   Food and Beverage
35                Consumer Electronics
36             Agriculture and Farming
37                   Natural Resources
38                      Sustainability
39                  Travel and Tourism
40                      Transportation
41                              Events
42                         Real Estate
43                      Consumer Goods
44             Government and Military
45                       Manufacturing
46                Clothing and Apparel
dtype: object

In [ ]:
pd.Series(category.keys()).iloc[[1,5,8,11,14,17,19,24,29,30,31,33]]

1                    Internet Services
5               Information Technology
8                             Software
11                            Hardware
14                              Mobile
17    Messaging and Telecommunications
19                  Data and Analytics
24                       Biotechnology
29             Artificial Intelligence
30                              Gaming
31                            Payments
33                                Apps
dtype: object

In [ ]:
#сделаем список с tech like категориями
tech_category = list(pd.Series(category.keys()).iloc[[1,5,8,11,14,17,19,24,29,30,31,33]])

In [ ]:
is_tech = []
for i in v4.category_groups_list:
    cnt = 0  
    for j in i.split(','):
      if j in tech_category:
        cnt += 1
        break
    is_tech.append(cnt)

In [ ]:
# not tech / tech
pd.Series(is_tech).value_counts()

0    914323
1    773575
dtype: int64

In [ ]:
v4.shape

(1687898, 48)

In [ ]:
pd.Series(is_tech)

0          1
1          1
2          1
3          1
4          1
          ..
1687893    0
1687894    0
1687895    1
1687896    1
1687897    1
Length: 1687898, dtype: int64

In [ ]:
v4['is_tech'] = pd.Series(is_tech).values

In [ ]:
v4['is_tech']

0          1
1          1
2          1
3          1
4          1
          ..
1803151    0
1803152    0
1803153    1
1803154    1
1803155    1
Name: is_tech, Length: 1687898, dtype: int64

In [ ]:
v4.reset_index(drop=True, inplace=True)

In [ ]:
df = v4

In [ ]:
df.columns

Index(['uuid', 'name', 'type', 'permalink', 'cb_url', 'rank', 'created_at',
       'updated_at', 'legal_name', 'roles', 'domain', 'homepage_url',
       'country_code', 'state_code', 'region', 'city', 'address',
       'postal_code', 'status', 'short_description', 'category_list',
       'category_groups_list', 'num_funding_rounds', 'total_funding_usd',
       'total_funding', 'total_funding_currency_code', 'founded_on',
       'last_funding_on', 'closed_on', 'employee_count', 'email', 'phone',
       'facebook_url', 'linkedin_url', 'twitter_url', 'logo_url', 'alias1',
       'alias2', 'alias3', 'primary_role', 'num_exits', 'round_uuid',
       'lead_investor_uuids', 'b_round_raised_amount_usd',
       'b_round_announced_on', 'went_public_on', 'ipo_money_raised_usd',
       'acquired_on', 'is_tech'],
      dtype='object')

In [ ]:
df.shape

(1687898, 49)

Удалить колонки, которые не несут дополнительной информации.

In [ ]:
df = df.drop(['uuid','type','permalink', 'cb_url','legal_name', 'roles', 'homepage_url',
              'state_code', 'short_description', 'category_list',
              'category_groups_list', 'region', 'city', 'address', 'postal_code','total_funding',
              'total_funding_currency_code', 'email', 'phone', 'facebook_url', 'linkedin_url',
              'twitter_url', 'logo_url','alias1', 'alias2', 'alias3','round_uuid', 
              'lead_investor_uuids'], axis=1)

In [ ]:
df.shape

(1687898, 21)

In [ ]:
df

,name,rank,created_at,updated_at,domain,country_code,status,num_funding_rounds,total_funding_usd,founded_on,...,closed_on,employee_count,primary_role,num_exits,b_round_raised_amount_usd,b_round_announced_on,went_public_on,ipo_money_raised_usd,acquired_on,is_tech
0,Wetpaint,163911.0,2007-05-25 13:51:27,2021-07-22 04:02:55,wetpaint.com,USA,acquired,3.0,3.975000e+07,2005-06-01,...,NaN,51-100,company,NaN,9500000.0,2007-01-01,NaN,NaN,2013-12-16,1
1,Zoho,6659.0,2007-05-26 02:30:28,2018-10-27 00:29:49,zoho.com,USA,operating,NaN,NaN,1996-09-15,...,NaN,1001-5000,company,1.0,NaN,NaN,NaN,NaN,NaN,1
2,Digg,20919.0,2007-05-26 03:03:23,2018-12-10 10:09:14,digg.com,USA,acquired,6.0,4.900000e+07,2004-10-11,...,NaN,51-100,company,NaN,8500000.0,2006-12-01,NaN,NaN,2012-07-12,1
3,Omidyar Network,126087.0,2007-05-26 03:21:34,2019-06-19 12:17:48,omidyar.com,USA,operating,NaN,NaN,2004-01-01,...,NaN,101-250,investor,45.0,NaN,NaN,NaN,NaN,NaN,1
4,Meta,71.0,2007-05-26 04:22:15,2021-12-14 04:55:19,meta.com,USA,ipo,16.0,1.612282e+10,2004-02-04,...,NaN,10000+,company,NaN,27500000.0,2006-04-01,2012-05-18,1.840000e+10,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1687893,Estamp,NaN,2022-02-01 23:39:07,2022-02-01 23:39:07,estamp.es,ESP,operating,NaN,NaN,1984-01-01,...,NaN,501-1000,company,NaN,NaN,NaN,NaN,NaN,NaN,0
1687894,Prestige Physiotherapy and Sports Medicine Abb...,NaN,2022-02-01 23:54:06,2022-02-01 23:54:06,prestigephysio.com,NaN,operating,NaN,NaN,2021-01-01,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,NaN,0
1687895,Kid Account,NaN,2022-02-01 23:55:02,2022-02-01 23:55:02,kidaccount.com,USA,operating,NaN,NaN,1998-01-01,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,NaN,1
1687896,Delkos,NaN,2022-02-02 00:00:54,2022-02-02 00:00:54,delkos.com,ZAF,operating,NaN,NaN,2016-01-01,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,NaN,1
1687897,Paperless innovations,NaN,2022-02-02 00:02:18,2022-02-02 00:02:18,paperless-innovations.com,USA,operating,NaN,NaN,2019-01-01,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,NaN,1

Заменить все значения, в которых содержатся даты на год.

In [ ]:
date_columns = ['created_at', 
               'updated_at', 
               'founded_on', 
               'last_funding_on', 
               'closed_on', 
               'b_round_announced_on',
               'went_public_on',
               'acquired_on']
for column in date_columns:
    df[column]=pd.to_numeric(df[column].str[0:4])

In [ ]:
for column in date_columns:
    print(df[column].value_counts())

2021    483644
2020    320505
2019    168626
2017    130424
2018    119607
2015     90741
2016     84486
2014     80638
2013     67842
2022     48644
2012     22745
2010     21090
2011     20074
2009     16877
2008     10326
2007      1629
Name: created_at, dtype: int64
2021    587780
2019    462588
2020    443765
2018    135285
2022     58480
Name: updated_at, dtype: int64
2015.0    68585
2014.0    65290
2016.0    59845
2013.0    59818
2012.0    57631
          ...
1466.0        1
1606.0        1
1678.0        1
1607.0        1
1659.0        1
Name: founded_on, Length: 572, dtype: int64
2021.0    35363
2020.0    24363
2019.0    23582
2018.0    23031
2017.0    19330
2016.0    17980
2015.0    17346
2014.0    14342
2013.0    10640
2012.0     7402
2011.0     5884
2010.0     4682
2009.0     3396
2008.0     2977
2022.0     2837
2000.0     2668
2007.0     2636
2006.0     1846
2005.0     1298
2004.0      992
2001.0      954
2003.0      835
2002.0      757
1999.0      555
1998.0      188
1996.0      157
1997.0      137
1995.0       83
1994.0       52
1993.0       50
1992.0       46
1990.0       37
1991.0       33
1986.0       20
1987.0       20
1982.0       11
1988.0       11
1985.0       11
1989.0        9
1983.0        9
1984.0        9
1980.0        6
1981.0        4
1979.0        4
1901.0        4
1921.0        2
1976.0        2
1970.0        2
1978.0        1
1969.0        1
1904.0        1
1917.0        1
1922.0        1
1907.0        1
1919.0        1
1500.0        1
Name: last_funding_on, dtype: int64
2019.0    2023
2020.0    1924
2018.0    1558
2016.0    1296
2015.0    1265
2013.0    1227
2014.0    1153
2017.0    1043
2012.0    1021
2011.0     578
2010.0     408
2021.0     383
2009.0     332
2008.0     180
2007.0     128
2001.0     118
2004.0      83
2006.0      82
2002.0      76
2005.0      72
2003.0      71
2022.0      54
2000.0      50
1999.0      24
1997.0      15
1998.0      11
1995.0       6
1991.0       5
1901.0       4
1993.0       4
1996.0       4
1978.0       2
1984.0       2
1994.0       2
1992.0       2
1990.0       2
1909.0       2
1976.0       1
1919.0       1
1983.0       1
1911.0       1
1954.0       1
1970.0       1
1900.0       1
1904.0       1
Name: closed_on, dtype: int64
2021.0    2070
2018.0    1971
2017.0    1741
2019.0    1690
2016.0    1457
2020.0    1421
2015.0    1384
2014.0    1147
2013.0     887
2007.0     777
2011.0     751
2008.0     732
2000.0     728
2012.0     720
2010.0     630
2006.0     599
2009.0     533
2005.0     501
2001.0     438
2004.0     413
2002.0     360
2003.0     340
1999.0     195
2022.0     177
1998.0      34
1997.0      14
1996.0       9
1995.0       6
1994.0       3
1982.0       1
1989.0       1
1992.0       1
1991.0       1
Name: b_round_announced_on, dtype: int64
2016.0    2549
2017.0    2354
2015.0    2318
2000.0    2046
2013.0    1965
          ...
1935.0       1
1893.0       1
1929.0       1
1913.0       1
1934.0       1
Name: went_public_on, Length: 96, dtype: int64
2021.0    13789
2017.0    10704
2016.0    10165
2018.0    10093
2019.0     8925
          ...
1959.0        1
1908.0        1
1922.0        1
1966.0        1
1953.0        1
Name: acquired_on, Length: 75, dtype: int64

In [ ]:
df = df.drop(np.where((df['founded_on'] <= 2011) | (df['founded_on'] > 2021))[0])

In [ ]:
df.reset_index(drop=True, inplace=True)

In [ ]:
df.head(25)

,name,rank,created_at,updated_at,domain,country_code,status,num_funding_rounds,total_funding_usd,founded_on,...,closed_on,employee_count,primary_role,num_exits,b_round_raised_amount_usd,b_round_announced_on,went_public_on,ipo_money_raised_usd,acquired_on,is_tech
0,Tun3r,1593710.0,2007,2018,tun3r.com,CAN,operating,NaN,NaN,NaN,...,NaN,unknown,company,NaN,NaN,NaN,NaN,NaN,NaN,1
1,Cuts,349515.0,2007,2018,cuts.com,USA,acquired,NaN,NaN,NaN,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,2007.0,1
2,Wink,124108.0,2007,2021,wink.com,USA,acquired,NaN,NaN,2013.0,...,NaN,101-250,company,NaN,NaN,NaN,NaN,NaN,2008.0,1
3,revlayer,1662480.0,2007,2019,revlayer.com,USA,operating,NaN,NaN,NaN,...,NaN,unknown,company,NaN,NaN,NaN,NaN,NaN,NaN,0
4,can,231128.0,2007,2018,canarc.yooco.org,USA,operating,NaN,NaN,2016.0,...,NaN,11-50,company,NaN,NaN,NaN,NaN,NaN,NaN,1
5,Going,269041.0,2007,2019,going.com,USA,closed,2.0,8500000.0,NaN,...,NaN,11-50,company,NaN,5000000.0,2007.0,NaN,NaN,2009.0,1
6,WikiYou,521393.0,2007,2019,wikiyou.com,USA,closed,1.0,0.0,NaN,...,NaN,11-50,company,NaN,NaN,NaN,NaN,NaN,NaN,1
7,Velvet Puffin,1133644.0,2007,2018,velvetpuffin.com,SGP,closed,NaN,NaN,NaN,...,2008.0,unknown,company,NaN,NaN,NaN,NaN,NaN,NaN,1
8,Keep Highways Safe,1319358.0,2007,2018,keephighwayssafe.org,USA,operating,NaN,NaN,NaN,...,NaN,unknown,company,NaN,NaN,NaN,NaN,NaN,NaN,1
9,KushCash,1093661.0,2007,2021,kushcash.com,USA,operating,NaN,NaN,NaN,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,NaN,1
10,Citizenbay,1178699.0,2007,2019,citizenbay.com,NaN,closed,NaN,NaN,NaN,...,2008.0,unknown,company,NaN,NaN,NaN,NaN,NaN,NaN,0
11,GE Commercial Finance,690978.0,2007,2020,gecommercialfinance.com,USA,operating,NaN,NaN,NaN,...,NaN,unknown,investor,4.0,NaN,NaN,NaN,NaN,NaN,0
12,Maverick Ventures,27218.0,2007,2020,maverickventures.com,USA,operating,NaN,NaN,2015.0,...,NaN,101-250,investor,34.0,NaN,NaN,NaN,NaN,NaN,0
13,Faketown,228807.0,2007,2020,faketown.com,USA,operating,NaN,NaN,NaN,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,NaN,0
14,Conecta 2,649254.0,2007,2019,fuzzwich.com,USA,closed,1.0,0.0,2012.0,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,NaN,0
15,Meetro,457329.0,2007,2018,meetro.com,USA,closed,NaN,NaN,NaN,...,2008.0,unknown,company,NaN,NaN,NaN,NaN,NaN,NaN,1
16,DZOIC,1264119.0,2007,2020,dzoic.com,USA,operating,NaN,NaN,NaN,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,NaN,1
17,The Entrepreneurs' Fund,202795.0,2007,2020,tefunds.com,USA,operating,NaN,NaN,2012.0,...,NaN,1-10,investor,13.0,NaN,NaN,NaN,NaN,NaN,0
18,News Corp,69012.0,2007,2021,newscorp.com,USA,ipo,2.0,12500000.0,2013.0,...,NaN,5001-10000,company,13.0,NaN,NaN,1999.0,NaN,NaN,1
19,DUO,408122.0,2007,2020,bemotioninc.com,CAN,acquired,NaN,NaN,2020.0,...,NaN,11-50,company,NaN,NaN,NaN,NaN,NaN,2020.0,1
20,webcrossing,729089.0,2007,2019,webcrossing.com,USA,operating,NaN,NaN,NaN,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,NaN,1
21,Negonation,376747.0,2007,2019,negonation.com,ESP,operating,NaN,NaN,NaN,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,NaN,0
22,YellowBot,372740.0,2007,2018,yellowbot.com,USA,operating,NaN,NaN,NaN,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,NaN,1
23,RealEditor,1266112.0,2007,2019,realeditor.com,USA,operating,NaN,NaN,NaN,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,NaN,1
24,Strayform,1330041.0,2007,2020,strayform.com,USA,operating,NaN,NaN,NaN,...,NaN,1-10,company,NaN,NaN,NaN,NaN,NaN,NaN,0

In [ ]:
df = df.dropna(subset=['name','founded_on', 'primary_role', 'country_code'])

In [ ]:
df.shape

(435363, 21)

In [ ]:
df.isna().sum()

name                              0
rank                           4001
created_at                        0
updated_at                        0
domain                        10577
country_code                      0
status                            0
num_funding_rounds           305320
total_funding_usd            305332
founded_on                        0
last_funding_on              305332
closed_on                    429885
employee_count                    0
primary_role                      0
num_exits                    431321
b_round_raised_amount_usd    427184
b_round_announced_on         426051
went_public_on               431686
ipo_money_raised_usd         434324
acquired_on                  419650
is_tech                           0
dtype: int64

In [ ]:
values = {"num_funding_rounds": 0, "total_funding_usd": 0, "last_funding_on": 0, 
          "closed_on":0,'b_round_raised_amount_usd':0, 'b_round_announced_on':0,
          'went_public_on':0, 'ipo_money_raised_usd':0,'acquired_on':0,'num_exits':0}
df = df.fillna(value=values)

In [ ]:
df.isna().sum()

name                             0
rank                          4001
created_at                       0
updated_at                       0
domain                       10577
country_code                     0
status                           0
num_funding_rounds               0
total_funding_usd                0
founded_on                       0
last_funding_on                  0
closed_on                        0
employee_count                   0
primary_role                     0
num_exits                        0
b_round_raised_amount_usd        0
b_round_announced_on             0
went_public_on                   0
ipo_money_raised_usd             0
acquired_on                      0
is_tech                          0
dtype: int64

In [ ]:
df['domain'].notna().value_counts()

True     424786
False     10577
Name: domain, dtype: int64

In [ ]:
df['domain'] = (df['domain'].notna()).astype('int')

In [ ]:
df['primary_role'].value_counts() # categorial

company     422088
investor     12844
school         431
Name: primary_role, dtype: int64

In [ ]:
df['country_code'].value_counts()

USA    157928
GBR     33024
IND     31246
NLD     19389
CHN     16528
        ...
GUF         1
TLS         1
ASM         1
FRO         1
IOT         1
Name: country_code, Length: 207, dtype: int64

In [ ]:
df['country_code'] = (df['country_code'].isin(['USA', 'GBR', 'IND', 'NLD', 'CHN'])).astype('int')

In [ ]:
df['employee_count'].value_counts().to_dict()

{'1-10': 223941,
 '10000+': 491,
 '1001-5000': 1861,
 '101-250': 14716,
 '11-50': 123934,
 '251-500': 5558,
 '5001-10000': 398,
 '501-1000': 2506,
 '51-100': 16639,
 'unknown': 45319}

In [ ]:
df['employee_count'] = df['employee_count'].replace("unknown", 0)

In [ ]:
df['employee_count'] = df['employee_count'].replace('1-10', 1)
df['employee_count'] = df['employee_count'].replace('11-50', 2)
df['employee_count'] = df['employee_count'].replace('51-100', 3)
df['employee_count'] = df['employee_count'].replace('101-250', 4)
df['employee_count'] = df['employee_count'].replace('251-500', 5)
df['employee_count'] = df['employee_count'].replace('501-1000', 6)
df['employee_count'] = df['employee_count'].replace('1001-5000', 7)
df['employee_count'] = df['employee_count'].replace('5001-10000', 8)
df['employee_count'] = df['employee_count'].replace('10000+', 9)

In [ ]:
df['employee_count'].value_counts().to_dict()

{0: 45319,
 1: 223941,
 2: 123934,
 3: 16639,
 4: 14716,
 5: 5558,
 6: 2506,
 7: 1861,
 8: 398,
 9: 491}

In [ ]:
df['b_round_age'] = df['b_round_announced_on'] - df['founded_on']
df['ipo_age'] = df['went_public_on'] - df['founded_on']
df['acquired_age'] = df['acquired_on'] - df['founded_on']

In [ ]:
df['b_round_age'].value_counts()

-2015.0    60367
-2014.0    58454
-2013.0    54446
-2012.0    52679
-2016.0    52500
-2017.0    49930
-2018.0    41469
-2019.0    28830
-2020.0    19286
-2021.0     8090
 3.0        2040
 4.0        1839
 2.0        1685
 5.0        1314
 6.0         850
 1.0         760
 7.0         418
 8.0         169
 0.0         116
 9.0          81
-1.0           9
-2.0           8
 10.0          5
-3.0           4
-5.0           3
-8.0           2
-9.0           2
-10.0          2
-14.0          1
-7.0           1
-4.0           1
-12.0          1
-16.0          1
Name: b_round_age, dtype: int64

In [ ]:
df['b_round_age'][df['b_round_age'] < 0] = 0
df['ipo_age'][df['ipo_age'] < 0] = 0
df['acquired_age'][df['acquired_age'] < 0] = 0

In [ ]:
df

,name,rank,created_at,updated_at,domain,country_code,status,num_funding_rounds,total_funding_usd,founded_on,...,num_exits,b_round_raised_amount_usd,b_round_announced_on,went_public_on,ipo_money_raised_usd,acquired_on,is_tech,b_round_age,ipo_age,acquired_age
2,Wink,124108.0,2007,2021,1,1,acquired,0.0,0.0,2013.0,...,0.0,0.0,0.0,0.0,0.0,2008.0,1,0.0,0.0,0.0
4,can,231128.0,2007,2018,1,1,operating,0.0,0.0,2016.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0
12,Maverick Ventures,27218.0,2007,2020,1,1,operating,0.0,0.0,2015.0,...,34.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
14,Conecta 2,649254.0,2007,2019,1,1,closed,1.0,0.0,2012.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
17,The Entrepreneurs' Fund,202795.0,2007,2020,1,1,operating,0.0,0.0,2012.0,...,13.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828712,Full Opportunities,NaN,2022,2022,1,0,operating,0.0,0.0,2017.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
828715,Embarc,NaN,2022,2022,1,1,operating,1.0,8000000.0,2019.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
828716,Care Monitors UK,NaN,2022,2022,1,1,operating,0.0,0.0,2021.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0,0.0
828720,Delkos,NaN,2022,2022,1,0,operating,0.0,0.0,2016.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0
828721,Paperless innovations,NaN,2022,2022,1,1,operating,0.0,0.0,2019.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0.0,0.0,0.0

In [ ]:
df['b_round'] = (df['b_round_announced_on'] != 0).astype('int')

In [ ]:
df['status'].value_counts()

operating    404650
acquired      14524
closed        12727
ipo            3462
Name: status, dtype: int64

In [ ]:
df['status'] = df['status'].replace('operating', 0)
df['status'] = df['status'].replace('acquired', 1)
df['status'] = df['status'].replace('closed', 0)
df['status'] = df['status'].replace('ipo', 1)

In [ ]:
df['target'] = df['b_round'] | df['status']

In [ ]:
len(df[df['target'] == 1])/len(df)

0.05999131759014891

Супер несбалансированные классы.

In [ ]:
df = pd.get_dummies(df, columns=['primary_role'])
df

,name,rank,created_at,updated_at,domain,country_code,status,num_funding_rounds,total_funding_usd,founded_on,...,acquired_on,is_tech,b_round_age,ipo_age,acquired_age,b_round,target,primary_role_company,primary_role_investor,primary_role_school
2,Wink,124108.0,2007,2021,1,1,1,0.0,0.0,2013.0,...,2008.0,1,0.0,0.0,0.0,0,1,1,0,0
4,can,231128.0,2007,2018,1,1,0,0.0,0.0,2016.0,...,0.0,1,0.0,0.0,0.0,0,0,1,0,0
12,Maverick Ventures,27218.0,2007,2020,1,1,0,0.0,0.0,2015.0,...,0.0,0,0.0,0.0,0.0,0,0,0,1,0
14,Conecta 2,649254.0,2007,2019,1,1,0,1.0,0.0,2012.0,...,0.0,0,0.0,0.0,0.0,0,0,1,0,0
17,The Entrepreneurs' Fund,202795.0,2007,2020,1,1,0,0.0,0.0,2012.0,...,0.0,0,0.0,0.0,0.0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828712,Full Opportunities,NaN,2022,2022,1,0,0,0.0,0.0,2017.0,...,0.0,0,0.0,0.0,0.0,0,0,1,0,0
828715,Embarc,NaN,2022,2022,1,1,0,1.0,8000000.0,2019.0,...,0.0,0,0.0,0.0,0.0,0,0,1,0,0
828716,Care Monitors UK,NaN,2022,2022,1,1,0,0.0,0.0,2021.0,...,0.0,0,0.0,0.0,0.0,0,0,1,0,0
828720,Delkos,NaN,2022,2022,1,0,0,0.0,0.0,2016.0,...,0.0,1,0.0,0.0,0.0,0,0,1,0,0
828721,Paperless innovations,NaN,2022,2022,1,1,0,0.0,0.0,2019.0,...,0.0,1,0.0,0.0,0.0,0,0,1,0,0

In [ ]:
df = df[df['primary_role_company']==1]

In [ ]:
y = df['target']
X = df.drop(['name', 'created_at', 'updated_at','status','b_round_announced_on', 'went_public_on', 'acquired_on', 'b_round', 'target','rank'], axis=1)
X

,domain,country_code,num_funding_rounds,total_funding_usd,founded_on,last_funding_on,closed_on,employee_count,num_exits,b_round_raised_amount_usd,ipo_money_raised_usd,is_tech,b_round_age,ipo_age,acquired_age,primary_role_company,primary_role_investor,primary_role_school
2,1,1,0.0,0.0,2013.0,0.0,0.0,4,0.0,0.0,0.0,1,0.0,0.0,0.0,1,0,0
4,1,1,0.0,0.0,2016.0,0.0,0.0,2,0.0,0.0,0.0,1,0.0,0.0,0.0,1,0,0
14,1,1,1.0,0.0,2012.0,2007.0,0.0,1,0.0,0.0,0.0,0,0.0,0.0,0.0,1,0,0
18,1,1,2.0,12500000.0,2013.0,2010.0,0.0,8,13.0,0.0,0.0,1,0.0,0.0,0.0,1,0,0
19,1,0,0.0,0.0,2020.0,0.0,0.0,2,0.0,0.0,0.0,1,0.0,0.0,0.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
828712,1,0,0.0,0.0,2017.0,0.0,0.0,1,0.0,0.0,0.0,0,0.0,0.0,0.0,1,0,0
828715,1,1,1.0,8000000.0,2019.0,2020.0,0.0,2,0.0,0.0,0.0,0,0.0,0.0,0.0,1,0,0
828716,1,1,0.0,0.0,2021.0,0.0,0.0,2,0.0,0.0,0.0,0,0.0,0.0,0.0,1,0,0
828720,1,0,0.0,0.0,2016.0,0.0,0.0,1,0.0,0.0,0.0,1,0.0,0.0,0.0,1,0,0
828721,1,1,0.0,0.0,2019.0,0.0,0.0,1,0.0,0.0,0.0,1,0.0,0.0,0.0,1,0,0

In [ ]:
X['total_funding_usd']=pd.to_numeric(X['total_funding_usd'])

In [ ]:
X = X.drop(['primary_role_company','primary_role_investor','primary_role_school'],axis=1)

In [ ]:
X.shape

(422088, 15)

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X, y,random_state = 0)

In [ ]:
#standardization
scaler = preprocessing.StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)